<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>

    <!-- Your CSS STYLE FILE-->
    <link rel="stylesheet" href="../style/slick/slick.css">
    <link rel="stylesheet" href="../style/slick/homeSlick.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/IT.css">


</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar-dark">
            <a class="navbar-brand" href="../views/">
                <img src="../images/aabuLogo2.png" height="100" class="d-inline-block align-top" alt="AL-Albayt"
                    id="logo">
            </a>
            <ul class="nav-links ml-auto">
                <li><a href="#">Academic Calendar</a></li>
                <li><a href="#">Phone Directory</a></li>
                <li><a href="#">Online Application</a></li>
                <li><a href="#">University Mail</a></li>

            </ul>
        </nav>


    </header>
    <div class="navbar sticky-top dark scrolling-navbar align-self-start stick">
        <!-- SideNav slide-out button -->
        <a class="navbar-brand" href="http://localhost:3000/home">
            <img src="../images/enlog.png" height="100" class="d-inline-block align-top ico" alt="AL-Albayt" id="logo">
        </a>
        <span id="dpl-navbar-buttons">
            <!--Navigation icons-->
            <ul class="nav navbar-nav nav-flex-icons">

                <!-- Login / register -->

                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm"
                    href="http://localhost:3000/home" role="button">Home<i class="fas fa-home ml-2"></i>
                </a>
                <div class="dropdown">
                    <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                        role="button">About AABU<i class="fas fa-angle-down ml-2"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="http://localhost:3000/abbuabout/UniversityAdministration">Prince Hussein
                            bin Abdullah
                            College for Information Technology</a>
                        <a href="<%='http://localhost:3000/abbuabout/BoardOfTrustees'%>">Faculty of Economics and
                            Administrative Sciences</a>
                        <a href="#">Princess Salma Faculty of Nursing</a>
                        <a href="<%='http://localhost:3000/abbuabout/DeansCouncil'%>">Faculty of Sharia</a>
                        <a href="<%='http://localhost:3000/abbuabout/general_information'%>">Faculty of Law</a>
                        <a href="#">Faculty of Arts and Humanities</a>
                        <a href="#">Faculty of Engineering</a>
                        <a href="<%='http://localhost:3000/abbuabout/mission'%>">Faculty of Science</a>
                        <a href="#">Faculty of Educational Sciences</a>
                        <a href="<%='http://localhost:3000/abbuabout/goal'%>">Faculty of Aviation</a>
                        <a href="<%='http://localhost:3000/abbuabout/university_values'%>">Bayt Al-Hekmah</a>
                        <a href="#">Institute of Earth and Environmental Sciences</a>
                        <a href="<%='http://localhost:3000/abbuabout/aboutdepartment'%>">The
                            Institute of Astronomy & Space Sciences</a>
                        <a href="<%='http://localhost:3000/abbuabout/gap'%>">Higher Institute
                            of Islamic Studies</a>

                    </div>
                </div>

                <div class="dropdown">
                    <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                        role="button">Academics<i class="fas fa-angle-down ml-2"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="http://localhost:3000/academic/IT">Prince Hussein
                            bin Abdullah
                            College for Information Technology</a>
                        <a href="<%='http://localhost:3000/academic/FacultyOfEconomics'%>">Faculty of Economics and
                            Administrative Sciences</a>
                        <a href="http://localhost:3000/academic/PrincessSalmaFacultyOfNursing">Princess Salma Faculty of
                            Nursing</a>
                        <a href="<%='http://localhost:3000/academic/facultyOfSharia'%>">Faculty of Sharia</a>
                        <a href="<%='http://localhost:3000/academic/FacultyofLaw'%>">Faculty of Law</a>
                        <a href="#">Faculty of Arts and Humanities</a>
                        <a href="#">Faculty of Engineering</a>
                        <a href="<%='http://localhost:3000/academic/FacultyofScience'%>">Faculty of Science</a>
                        <a href="#">Faculty of Educational Sciences</a>
                        <a href="<%='http://localhost:3000/academic/FacultyOfAviation'%>">Faculty of Aviation</a>
                        <a href="<%='http://localhost:3000/academic/BaytAl-Hekmah'%>">Bayt Al-Hekmah</a>
                        <a href="#">Institute of Earth and Environmental Sciences</a>
                        <a href="<%='http://localhost:3000/academic/TheInstituteOfAstronomyAndSpaceSciences'%>">The
                            Institute of Astronomy & Space Sciences</a>
                        <a href="<%='http://localhost:3000/academic/HigherInstituteOfIslamicStudies'%>">Higher Institute
                            of Islamic Studies</a>
                        <a href="<%='http://localhost:3000/academic/DeanShipOfAcademicResearch'%>">DeanShip of Academic
                            Research</a>
                        <a href="#">DeanShip of Graduate Studies</a>
                        <a href="#">DeanShip of Student Affairs</a>
                    </div>
                </div>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Portals<i class="fas fa-angle-down ml-2"></i>
                </a>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Centers<i class="fas fa-angle-down ml-2"></i>
                </a>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Research<i class="fas fa-angle-down ml-2"></i>
                </a>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Students<i class="fas fa-angle-down ml-2"></i>
                </a>

                <!-- <a alt="Dynamic: Go Pro (jQuery)" class="btn btn-info btn-sm my-0" href="#" role="button">Home<i
                            class="fas fa-home"></i></a> -->
            </ul>
        </span>



    </div>



    <%- (body) %>

    <div class="space" style="height: 50px;"></div>
    <footer class="footer-area footer--light">
        <div class="footer-big">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-widget">
                            <div class="widget-about">
                                <img src="../images/aabuLogo2.png" alt="" class="img-fluid">
                                <p>Al AL-Albayt University</p>
                            </div>
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                        <div class="footer-widget ">
                            <div class="footer-menu">
                                <h2>Socail Media</h2>
                                <ul>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">How It Works</a>
                                    </li>
                                    <li>
                                        <a href="#">Affiliates</a>
                                    </li>
                                    <li>
                                        <a href="#">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Plan &amp; Pricing</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-lg-3 -->

                    <!-- end /.col-md-4 -->
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu footer-menu--1">
                                <h2>Contact Us</h2>
                                <ul>
                                    <li>
                                        <p href="#">Al al-Bayt University <br>
                                            P.O.BOX 130040</p>
                                    </li>
                                    <li>
                                        <p href="#">Mafraq 25113, Jordan</p>
                                    </li>
                                    <li>
                                        <p href="#">Telephone: (+962) 2-6297000</p>
                                    </li>
                                    <li>
                                        <p href="#">Email: info@aabu.edu.jo</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-3 -->



                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>
                                Copyright © 2020 - Al al-Bayt University
                                <a href="#">Computer Center</a>
                            </p>
                        </div>

                        <div class="go_top">
                            <span class="icon-arrow-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script type=" text/javascript" src="../style/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="../style/slick/slick.min.js"></script>
    <script src="../style/slick/homeSlick.js"></script>
</body>