<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- AL-Albayt universtiy icon -->
    <link rel="icon" href="../images/aabuLogo2.png" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../style/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../style/mdb/css/mdb.min.css">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.11.2/css/all.css'>

    <!-- Your CSS STYLE FILE-->
    <link rel="stylesheet" href="../style/slick/slick.css">
    <link rel="stylesheet" href="../style/slick/homeSlick.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/IT.css">


</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar-dark">
            <a class="navbar-brand" href="../views/">
                <img src="../images/aabuLogo2.png" height="100" class="d-inline-block align-top" alt="AL-Albayt"
                    id="logo">
            </a>
            <ul class="nav-links ml-auto">
                <li><a href="#">Academic Calendar</a></li>
                <li><a href="#">Phone Directory</a></li>
                <li><a href="#">Online Application</a></li>
                <li><a href="#">University Mail</a></li>

            </ul>
        </nav>


    </header>
    <div class="navbar sticky-top dark scrolling-navbar align-self-start stick">
        <!-- SideNav slide-out button -->
        <a class="navbar-brand" href="http://localhost:3000/home">
            <img src="../images/enlog.png" height="100" class="d-inline-block align-top ico" alt="AL-Albayt" id="logo">
        </a>
        <span id="dpl-navbar-buttons">
            <!--Navigation icons-->
            <ul class="nav navbar-nav nav-flex-icons">

                <!-- Login / register -->

                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm"
                    href="http://localhost:3000/home" role="button">Home<i class="fas fa-home ml-2"></i>
                </a>
                <div class="dropdown">
                    <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                        role="button">About AABU<i class="fas fa-angle-down ml-2"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="http://localhost:3000/abbuabout">University Administration </a>
                        <a href="http://localhost:3000/abbuabout/general_information"> General Information</a>
                        <a href="http://localhost:3000/abbuabout/mission">  Mission</a>
                        <a href="http://localhost:3000/abbuabout/goal"> Goals</a>
                        <a href="http://localhost:3000/abbuabout/university_values">University values</a>
                        <a href="http://localhost:3000/abbuabout/departments">Departments and Units</a>
                        <a href="https://www.aabu.edu.jo/AR/Departments/legalaffairs/Pages/default.aspx">  Regulations</a>
                        <a href="http://localhost:3000/abbuabout/gap"> Campus Map</a>
                        <a href="https://www.aabu.edu.jo/EN/Documents/externalProjects.pdf">External Projects</a>
                        <a href="http://localhost:3000/abbuabout/garelly">Gallery</a>
                        <a href="http://localhost:3000/abbuabout/mafraqcity">The City of Mafraq </a>
                    </div>
                </div>

                <div class="dropdown">
                    <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                        role="button">Academics<i class="fas fa-angle-down ml-2"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="http://localhost:3000/academic/IT">Prince Hussein
                            bin Abdullah
                            College for Information Technology</a>
                        <a href="<%='http://localhost:3000/academic/FacultyOfEconomics'%>">Faculty of Economics and
                            Administrative Sciences</a>
                        <a href="#">Princess Salma Faculty of Nursing</a>
                        <a href="<%='http://localhost:3000/academic/facultyOfSharia'%>">Faculty of Sharia</a>
                        <a href="<%='http://localhost:3000/academic/FacultyofLaw'%>">Faculty of Law</a>
                        <a href="#">Faculty of Arts and Humanities</a>
                        <a href="#">Faculty of Engineering</a>
                        <a href="<%='http://localhost:3000/academic/FacultyofScience'%>">Faculty of Science</a>
                        <a href="#">Faculty of Educational Sciences</a>
                        <a href="<%='http://localhost:3000/academic/FacultyOfAviation'%>">Faculty of Aviation</a>
                        <a href="<%='http://localhost:3000/academic/BaytAl-Hekmah'%>">Bayt Al-Hekmah</a>
                        <a href="#">Institute of Earth and Environmental Sciences</a>
                        <a href="<%='http://localhost:3000/academic/TheInstituteOfAstronomyAndSpaceSciences'%>">The
                            Institute of Astronomy & Space Sciences</a>
                        <a href="<%='http://localhost:3000/academic/HigherInstituteOfIslamicStudies'%>">Higher Institute
                            of Islamic Studies</a>
                        <a href="<%='http://localhost:3000/academic/DeanShipOfAcademicResearch'%>">DeanShip of Academic
                            Research</a>
                        <a href="#">DeanShip of Graduate Studies</a>
                        <a href="#">DeanShip of Student Affairs</a>
                    </div>
                </div>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Portals<i class="fas fa-angle-down ml-2"></i>
                </a>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Centers<i class="fas fa-angle-down ml-2"></i>
                </a>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Research<i class="fas fa-angle-down ml-2"></i>
                </a>
                <a alt="Dynamic: Get news (jQuery)" id="navbar-jquery-dynamic-newsletter" class="btn-sm" href="#"
                    role="button">Students<i class="fas fa-angle-down ml-2"></i>
                </a>

                <!-- <a alt="Dynamic: Go Pro (jQuery)" class="btn btn-info btn-sm my-0" href="#" role="button">Home<i
                            class="fas fa-home"></i></a> -->
            </ul>
        </span>



    </div>



    <%- (body) %>

    <div class="footer_social" style="background-color:#e3e3e3; height: 40px;">
        <figure>
            <strong>Follow us :</strong>
        </figure>
        <div class="icons" style="background-color:#e3e3e3;margin-top: -18px; margin-left: 87px; ">
            <a href="https://www.twitter.com/">
                <i class="fa fa-twitter" style="padding-right:5px;"></i>
            </a>
            <a href="https://www.facebook.com/856836384395242">
                <i class="fa fa-facebook" style="padding-right:5px;"></i>
            </a>
            <a href="https://www.linkedin.com/">
                <i class="fa fa-linkedin" style="padding-right:5px;"></i>
            </a>
            <a href="https://www.youtube.com/">
                <i class="fa fa-youtube-play" style="padding-right:5px;"></i>
            </a>
            <a href="https://www.instagram.com/alalbayt2018/">
                <i class="fa fa-instagram" style="padding-right:5px;"></i>
            </a>
            <a href="https://pod51046.outlook.com/owa/">
                <i class="fa fa-envelope" style="padding-right:5px;"></i>
            </a>
        </div>
        <!-- /.icons -->
    </div>
    <div class="search pull-right" style="float: right;background-color:#e3e3e3;">
        <div class="input-group" style="z-index: 0;    margin-top: -37px;margin-right: 25px;">
            <input name="ctl00$SearchBottom$txtSearch" maxlength="100" id="ctl00_SearchBottom_txtSearch" type="search"
                class="form-control" placeholder="Search ...">
            <span class="input-group-btn" style="width: 20px;height: 30px;">
                <a id="ctl00_SearchBottom_lnbSearch" class="btn"
                    href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$SearchBottom$lnbSearch&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">
                    <i class="fa fa-search"></i>
                    <!-- <img src="../images/vr-glass.png" style="width: 20px;height: 30px;"> -->
                </a>
            </span>
        </div>
        <!-- /input-group -->
    </div>

    <div class="footer" style="background-color: #007778;">
        <div class="footer_logo_unviersity" style="width: 50px;height: 50px;">
            <aside class="logo">
                <a href="https://www.aabu.edu.jo/" id="ctl00_FooterBody_link">
                    <img src="../images/aabuLogo2.png" class="vertical-center ImgLogoBottomn"
                        style="margin-left: 20px;margin-top: 42px;">
                </a>
            </aside>
        </div>
        <div class="footer_contact" style="margin-left: 372px;">
            <h4>Contact Us</h4>
            <strong> Al al-Bayt University</strong>
            <br>
            <span>P.O.BOX 130040</span>
            <br>
            <br>
            <span>Mafraq 25113, Jordan</span>
            <br>
            <abbr title="Telephone">Telephone:</abbr>
            (+962) 2-6297000
            <br>
            <abbr title="Email">Email:</abbr>
            <a href="https://www.aabu.edu.jo/EN/Pages/default.aspx#">info@aabu.edu.jo</a>
        </div>
        <div class="footer-inner" style="background-color: cadetblue;">
            <div class="copyright" style="color: black;margin-left: 25%;">
                Copyright © 2020 -
                <a href="HTTPS://WWW.AABU.EDU.JO/EN/" title="Al al-Bayt University" id="copyaabu" target="_self"
                    class="copyaabu">Al al-Bayt University</a> by <a
                    href="https://www.aabu.edu.jo/en/centers/computercenter/pages/default.aspx"
                    title="Al al-Bayt University" id="copyaabu" target="_self" class="copyaabu">Computer Center.</a>
            </div>
        </div>

    </div>



    <script type=" text/javascript" src="../style/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../style/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../style/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script src="../style/slick/slick.min.js"></script>
    <script src="../style/slick/homeSlick.js"></script>
</body>